.selected-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 12px;
}
.p-card .p-card-title,
.p-card-title {
    text-align: center !important;
}
.center-actions {
    text-align: center;
}