<!--begin::Profile Overview-->
<div class="d-flex flex-row">
  <!--begin::Aside-->
  <div class="flex-row-auto offcanvas-mobile w-300px w-xl-350px" id="kt_profile_aside">
    <app-portfolio-categories
    [categories]="categories"
    [categoriesSubject]="categoriesSubject" 
    (categoryClicked)="loadCategorySamples($event)"
    ></app-portfolio-categories>
  </div>
  <!--end::Aside-->

  <!--begin::Content-->
  <div class="flex-row-fluid ml-lg-8">
    <div class="card card-custom card-tall p-10">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">Samples
            <span *ngIf="selectedSamples.length > 0">Total {{ selectedSamples.length }} samples selected.</span>
          </h3>
        </div>
        <div class="card-toolbar">
          <button type="button" class="btn btn-primary" (click)="createPortfolio()" *ngIf="selectedSamples.length > 0">Create</button>
        </div>
      </div>
      <div class="card-body">
        <span *ngIf="!categorySamples.length">
          <app-ceryx-icon icon="no_data" text="Oops, No Samples found for selected category."></app-ceryx-icon>
        </span>
        <mat-grid-list cols="3" rowHeight="300" gutterSize="20">
          <mat-grid-tile *ngFor="let sample of categorySamples">
            <app-portfolio-category-card [sample]="sample" (sampleSelected)="addToSelectedSamples(sample)" (sampleDeselected)="removeSelectedSample(sample)"></app-portfolio-category-card>
          </mat-grid-tile>
          </mat-grid-list>
      </div>
    </div>
  </div>
  <!--end::Content-->
</div>
<!--end::Profile Overview-->
