<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">All Samples</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" routerLink="/samples-management/add-sample">New Sample</button>
    </div>
  </div>
  <div class="card-body">
    <mat-grid-list cols="3" gutterSize="15" rowHeight="350">
    <mat-grid-tile *ngFor="let sample of samples">
      <p-card [style]="{width: '300px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" height="150" src="{{baseUrl}}{{sample.thumbnail}}">
        </ng-template>
        <div class="center-actions">
          <h3>{{sample.name}}</h3>
        </div>
        <div class="center-actions">
          <p-button label="Launch" icon="pi pi-play" (click)="launchSample(sample)"></p-button>
          <p-button label="Edit" icon="pi pi-pencil" [style]="{'margin-left': '.5em'}"></p-button>
          <p-button label="Delete" icon="pi pi-trash" (click)="deleteSample(sample)" styleClass="p-button-danger" [style]="{'margin-left': '.5em'}"></p-button>
        </div>
        <ng-template pTemplate="footer">

        </ng-template>
    </p-card>
  </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>