<p-messages></p-messages>
<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="isEditMode">Edit Sample</span>
        <span *ngIf="!isEditMode">Add Sample</span>
      </h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" routerLink="/samples-management/all-samples">All Samples</button>
    </div>
  </div>
  <div class="card-body">
    <!--begin: Wizard -->
    <div #wizard class="wizard wizard-1" id="kt_wizard_v1" data-wizard-state="step-first" data-wizard-clickable="true">
      <!--begin: Form Wizard Nav -->
      <div class="wizard-nav border-bottom">
        <div class="wizard-steps p-8 p-lg-10">
          <a class="wizard-step" href="javascript:;" data-wizard-type="step" data-wizard-state="current" *ngIf="!isEditMode">
            <div class="wizard-label">
              <i class="wizard-icon flaticon2-add"></i>
              <h3 class="wizard-title">Upload Sample</h3>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-label">
              <i class="wizard-icon flaticon2-browser-1"></i>
              <h3 class="wizard-title">Entry Point Selection</h3>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-label">
              <i class="wizard-icon flaticon2-image-file"></i>
              <h3 class="wizard-title">Thumbnail Selection</h3>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-label">
              <i class="wizard-icon flaticon2-writing"></i>
              <h3 class="wizard-title">Details of the Sample</h3>
            </div>
          </a>
          <a class="wizard-step" href="javascript:;" data-wizard-type="step">
            <div class="wizard-label">
              <i class="wizard-icon flaticon2-correct"></i>
              <h3 class="wizard-title">Completed!</h3>
            </div>
          </a>
        </div>
      </div>
      <!--end: Form Wizard Nav -->
      <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
        <div class="col-xl-12 col-xxl-7">
          <!--begin: Form Wizard Form-->
          <form class="form" id="kt_form">
            <!--begin: Form Wizard Step 1-->
            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current" *ngIf="!isEditMode">
              <div class="mb-10 font-weight-bold text-dark">
                Upload the ZIP package of the Sample
              </div>
              <ngx-dropzone (change)="onSelect($event)" accept="application/zip" [hidden]="isSampleUploading">
                <ngx-dropzone-label>Drop the ZIP Package here</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
              <mat-spinner class="m-auto" *ngIf="isSampleUploading"></mat-spinner>
            </div>
            <!--end: Form Wizard Step 1-->

            <!--begin: Form Wizard Step 2-->
            <div class="pb-5" data-wizard-type="step-content">
              <div class="mb-10 font-weight-bold text-dark">
                Please select the entry point :
              </div>
              <!-- <p-tree [value]="files1" selectionMode="single" [(selection)]="selectedFile"
                (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
              <p-toast></p-toast> -->
              <div>
                <mat-selection-list [multiple]="false" [(ngModel)]="launchUrl" [ngModelOptions]="{standalone: true}">
                  <mat-list-option [value]="file" *ngFor="let file of uploadedFiles">
                    {{file}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </div>
            <!--end: Form Wizard Step 2-->

            <!--begin: Form Wizard Step 3-->
            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
              <div class="mb-10 font-weight-bold text-dark">
                Please upload the thumbnail :
              </div>
              <div>
                <ngx-dropzone (change)="onSelectThumbnail($event)" accept="image/*" [hidden]="isThumbnailUploading">
                  <ngx-dropzone-label>Drop the Sample thumbnail here</ngx-dropzone-label>
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of thumbnailFiles" [removable]="true" [file]="f" (removed)="onRemoveThumbnail(f)">
                  </ngx-dropzone-image-preview>
                </ngx-dropzone>
                <mat-spinner class="m-auto" *ngIf="isThumbnailUploading"></mat-spinner>
                {{ this.thumbnailFiles | json }}
              </div>
            </div>
            <!--end: Form Wizard Step 3-->

            <!--begin: Form Wizard Step 4-->
            <div class="pb-5" data-wizard-type="step-content">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="address1" placeholder="" value="" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/>
                <span class="form-text text-muted">Please enter Sample name.</span>
              </div>
              <div class="form-group">
                <label>Details</label>
                <br>
                <textarea rows="3" cols="106" pInputTextarea [(ngModel)]="details" [ngModelOptions]="{standalone: true}">
                  {{ details }}
                </textarea>
                <span class="form-text text-muted">Please enter Sample details.</span>
              </div>
              <div class="form-group">
                <label>Categories</label>
                <select name="" class="form-control" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                  <option value="" disabled selected>Select a Category</option>
                  <option [ngValue]="thisCategory" *ngFor="let thisCategory of categories">{{ thisCategory.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Tags</label>
                <div class="p-fluid">
                  <p-chips [(ngModel)]="tags" [ngModelOptions]="{standalone: true}"></p-chips>              
                </div>
              </div>
              <div class="form-group">
                <mat-checkbox [(ngModel)]="includeInDefaultPortfolio" [ngModelOptions]="{standalone: true}">Include in default portfolio.</mat-checkbox>
              </div>
              
              <div class="form-group">
                <mat-checkbox [(ngModel)]="excludeFromSamplesSelection" [ngModelOptions]="{standalone: true}">Exclude from samples selection.</mat-checkbox>
              </div>
            </div>
            <!--end: Form Wizard Step 4-->

            <!--begin: Form Wizard Step 5-->
            <div class="pb-5" data-wizard-type="step-content">
              <div class="mb-10 font-weight-bold text-dark">
                Sample uploaded successfully with below details:
              </div>
              <div class="border-bottom mb-5 pb-5">
                <div class="font-weight-bolder mb-3">Sample Entry Point:</div>
                <div class="line-height-xl">
                  <a target="_blank" href="{{ baseUrl }}{{ launchUrl }}">{{ baseUrl }}{{ sampleId }}{{ launchUrl }}</a>
                </div>
              </div>
              <div class="border-bottom mb-5 pb-5">
                <div class="font-weight-bolder mb-3">
                  Sample Details:
                </div>
                <div class="line-height-xl">
                  {{ name }}
                  <br>
                  {{ details }}
                  <br>
                  {{category.name}}
                  <br>
                  {{tags}}
                </div>
              </div>
            </div>
            <!--end: Form Wizard Step 5-->

            <!--begin: Form Actions -->
            <div class="d-flex justify-content-between pt-10" *ngIf="!isFinalStep">
              <div class="mr-2">
<!--                <div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4"-->
<!--                  data-wizard-type="action-prev">-->
<!--                  Previous-->
<!--                </div>-->
              </div>
              <div>
                <div (click)="onSubmit()" class="btn btn-success font-weight-bold text-uppercase px-9 py-4"
                  data-wizard-type="action-submit">
                  Submit
                </div>
                <div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next">
                  Next
                </div>
              </div>
            </div>
            <!--end: Form Actions -->
          </form>
          <!--end: Form Wizard Form-->
        </div>
      </div>
    </div>
    <!--end: Wizard -->
  </div>
</div>
