<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Users list</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" (click)="createUser()" class="btn btn-primary">New User</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin:Table -->
    <p-table #dt1 [value]="users" dataKey="id"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name','email']">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-jc-end p-ai-end">
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
          <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
          </span>
      </div>
  </ng-template>

  <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>E-mail</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.role}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button pButton pRipple type="button" (click)=viewUser(user) icon="pi pi-eye" class="p-button-rounded p-button-info action-button"></button>
                    <button pButton pRipple type="button" (click)=editUser(user) icon="pi pi-pencil" class="p-button-rounded p-button-primary action-button"></button>
                    <button pButton pRipple type="button" (click)=deleteUser(user) icon="pi pi-trash" class="p-button-rounded p-button-danger action-button"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>  