<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Users list</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary">New User</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    Filter Form    
    <!-- end: Filtration form -->
    <!-- begin:Table -->
    <p-table [value]="users" styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>E-mail</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.role}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-info action-button"></button>
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-primary action-button"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger action-button"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!-- end: Table -->
Footer
  </div>
</div>