<div class="modal-header">
  <div class="modal-title h4">View User</div>
</div>
<div class="modal-body overlay overlay-block cursor-default">
  <ng-container *ngIf="isLoading">
    <div class="overlay-layer">
      <div class="spinner spinner-lg spinner-primary"></div>
    </div>
  </ng-container>

  <!--begin::User-->
  <div class="d-flex align-items-center">
    <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
      <div class="symbol-label" [style.backgroundImage]="'url('+ user.profile_pic +')'"></div>
    </div>
    <div>
      <a class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary cursor-pointer">
        {{user.name}}
      </a>
      <div class="text-muted">
        {{user.role | titlecase }}
      </div>
    </div>
  </div>
  <!--end::User-->
  <!--begin::Contact-->
  <div class="py-9">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <span class="font-weight-bold mr-2">Email:</span>
      <a class="text-muted text-hover-primary">{{user.email}}</a>
    </div>
  </div>
  <!--end::Contact-->

</div>

<div class="modal-footer">
  <div>
    <button type="button" class="btn btn-light btn-elevate mr-3" (click)="modal.dismiss()">Back</button>
    <!-- <button type="button" class="btn btn-primary btn-elevate" (click)="modal.dismiss()">Back</button> -->
  </div>
</div>